<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.domain.mapper.UsuarioMapper">


    <resultMap id="resultUsuario" type="usuario">
        <result property="idUsuario" column="idUsuario"/>
        <result property="nombres" column="nombres"/>
        <result property="apellidoMaterno" column="apellidoMaterno"/>
        <result property="apellidoPaterno" column="apellidoPaterno"/>
        <result property="sexo" column="sexo"/>
    </resultMap>


    <select id="getAll"  fetchSize="10"  resultMap="resultUsuario">
        select	idUsuario
            ,	nombres
            ,	apellidoPaterno
            ,	apellidoMaterno
        from	usuario
    </select>

    <select id="getUsuario"  fetchSize="10"  resultMap="resultUsuario" parameterType="filtro">
        select	idUsuario
            ,	nombres
            ,	apellidoPaterno
            ,	apellidoMaterno
        from	usuario
        <where>
            <if test=" nombre!=null and nombre!='' ">
                 nombres like #{nombre}
               or apellidoPaterno  like #{nombre}
               or apellidoMaterno  like #{nombre}
            </if>

        </where>
    </select>

    <resultMap id="resultUsuarioDetalle" type="usuarioDetalle">
        <result property="idUsuarioDetalle" column="idUsuarioDetalle"/>
        <result property="idUsuario" column="idUsuario"/>
        <result property="correo" column="correo"/>
        <result property="imagen" column="imagen"/>
    </resultMap>

    <select id="getUsuarioDetalle"  fetchSize="10"  resultMap="resultUsuarioDetalle" parameterType="int">
        select
                idUsuarioDetalle
            ,   idUsuario
            ,	correo
            ,	imagen
        from	UsuarioDetalle
        <where>
            idUsuario = #{idUsuario}
        </where>
    </select>

</mapper>